# ---------- Node / React ----------
node_modules/
build/
dist/
.env
*.log

# ---------- Python ----------
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- IDE ----------
.vscode/
.idea/

# ---------- Misc ----------
coverage/
*.sqlite3
